/* GENERAL SELECTORS */

main {
  height: 95vh;
  width: 90vw;
  margin: 20px auto;
}

section {
  background-color: rgba(238, 240, 242, .9);
  border-radius: 15px;
  filter: drop-shadow(0px 0px 10px rgba(51, 53, 51, .1));

}

input {
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: #8AA555;
  transition: 1s;
}

a:hover{
  text-decoration: underline;
}

button {
  background-image: url('../public/assets/images/beerwave.svg');
  background-size: cover;
}

/* SIGN IN PAGE */

.landing-page {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  margin: 5% auto;
}

/* SIGN IN DESCRIPTION */

.login-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #FFD100; */
  border-radius: 15px 0 0px 15px;
  /* background-color: rgba(255, 255, 255, 0.749); */
  background-image: url('../public/assets/images/beerwave.svg') ;
  /* background-repeat: none; */
  background-size: cover;
  /* position: relative;
  overflow: hidden; */
}

.description-header {
  font-size: 80px;
}

.description-body {
  width: 40%;
  height: 50%;
  font-size: 20px;
  line-height: 2;
  font-size: 23px;
}

.beerbook {
  color: #8AA555
}

/* LOGIN FORM */

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  
}

.logo {
height: 30%;
}

.login-header {
  font-size: 50px;
  margin: 0;
}

.login-body {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content:space-evenly ;
  align-items: center ;
  height: 50%;
}

.email {
  width: 70%;
  height: 7%;
}

.password {
  width: 70%;
  height: 7%;
}

.age-consent {
  display: flex;
  width: 70%;
}


.submit {
  width: 20%;
  height: 10%;
  transition: .7s;
  border-radius: 15px;
  border: 1px solid #d6d6d6;
}

.submit:hover {
  background-color: #ffd100;
  scale: 1.1;
}

/* REGISTER FORM */

.register-page {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  margin: 5% auto;
}

.new-user-name {
display: flex;
align-items: center;
justify-content: space-between;
height: 7%;
}

.first-name {
  width: 40%;
  height: 100%;
}

.last-name {
  width: 40%;
  height: 100%;
  
}

.age-consent-submit {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-submit {
  height: 150%;
  width: 30%;
  border-radius: 15px;
  border: 1px solid #d6d6d6;
  transition: .3s;
}

.register-submit:hover {
  background-color: #ffd100;
  scale: 1.1;
}

/* HOME PAGE */

.user-dash {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  gap: 30px;
} 

.list-feed {
grid-row: 1/4;
display: flex;
flex-direction: column;
align-items: center;
overflow: auto;
}

.beer-list {
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

}

.users-list{
  overflow: auto;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.new-list {
  grid-row: 1/4;
}

/* USER CREATED BEER LIST FEED */


.list {
  width: 80%;
  margin: 5%;
  background-color: #ffd100;
  border-radius: 15px;
}


/* ALL BEERS DISPLAY */

.beer-wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px
}

.beer-wrapper::-webkit-scrollbar {
  display: none;
}

.single-beer {
  width: 20%;
  height: 20%;
  background-color: #ffd100;
  border-radius: 15px;
  transition: .5s;
  /* background-image: url('../public/assets/images/beerwave.svg');
  background-size:  cover; */
}

.single-beer:hover {
  scale: 1.05;
  background-color: #d6d6d6;

}

.beer-name {
  margin: 10px;
}

.brewery {
  margin: 0;
}

.beer-maker {
  margin: 0 5px;
}


/* NEW LIST CREATION FORM */
.new-list-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20%;
}


.new-list-input {
  width: 80%;
  height: 30px;
}

.new-list-submit {
  width: 10%;
  height: 30px;
  border-radius: 15px;
  background-color: #d6d6d6;
  border: none;
  transition: .3s;
}

.new-list-submit:hover {
  scale: 1.1;
  background-color: #ffd100;
  border: none;
}



/* MORE INFO DISPLAY */

.beer-image {
  width: 25%;
}


/* USER INFO */
.avatar-container {
  width: 50%;
}

.user-icon {
  width: 60%;
}

.user-info-container {
  width: 60%;
}

.log-out {
  width: 40%;
  background-color: #d6d6d6;
  background-image: none;
  height: 20px;
  transition: .3s;
  border: none;
  border-radius: 15px;
}

.log-out:hover {
  scale: 1.1;
  background-color: #ffd100;
  border: none;
}

/* USER MADE LIST */

.add-list-button {
width: 20%;
height: 8%;
border-radius: 15px;
background-color: #d6d6d6;
color: #333533;
border: none;
transition: .5s;
font-size: 150%;

}

.add-list-button:hover {
  background-color: #ffd100;
  scale: 1.1;
}