main {
  height: 95vh;
  width: 90vw;
  margin: 20px auto;
}

section{
  background-color: #EEF0F2;
  border-radius: 15px;
}

/* SIGN IN PAGE */

.landing-page {
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  margin: 5% auto;
}

/* SIGN IN DESCRIPTION */

.login-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFD100;
  border-radius: 15px 0 0px 15px;
  
}

.description-header {
  font-size: 50px;
}

.logo {
height: 30%;
}


.description-body {
width: 50%;
height: 50%;
}

/* LOGIN FORM */

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  
}

.login-header{
  font-size: 30px;
}

.login-body {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly ;
  align-items: center ;
  height: 50%;
}

.age-consent {
  display: flex;
  width: 100%;
}

/* HOME PAGE */

.user-dash {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
} 

.list-feed {
grid-row-start: 1;
grid-row-end: 3;
}

.beer-list {
  grid-row-start: 1;
  grid-row-end: 3;
}

.users-list{
  grid-column-start: 3;
  grid-column-end: 4;
}